@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

* body {
  font-family: "Roboto", sans-serif;
}

.game-container {
  width: 100%;
  padding-top: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  color: burlywood;
  padding-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gallows-image img {
  height: 50vh;
}

.choose-word {
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.choose-word button {
  width: 15vw;
  height: 8vh;
  border-radius: 8px;
  background-color: #209645;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.choose-word button:hover {
  background-color: #3ca066;
}

.wordChoose {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 50px;
  line-height: 68px;
  color: #000000;
  letter-spacing: 20px;
}

.container-letters {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.letters {
  width: 45vw;
  height: 13vh;
  margin-top: 30px;

  display: flex ;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.letters button {
  margin-right: 5px;
}

.letters-unselected {
  width: 3vw;
  height: 5vh;
  border-radius: 3px;
  background-color: #E1ECF4;
  border: 1px solid #7aa7c7;
  font-size: 16px;
  color: #39739d;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.letters-selected {
  width: 3vw;
  height: 5vh;
  border-radius: 3px;
  background-color: #9faab5;
  border: 1px solid #7aa7c7;
  font-size: 16px;
  color: #798a9f;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.userLost {
  color: red;
}

.userWon {
  color: green;
}

.container-kick {
  width: 100%;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-kick p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding-right: 30px;
}

.container-kick input {
  width: 30vw;
  height: 6vh;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px 0 #00000040;
  border: none;
  outline: none;
  cursor: pointer;
}

.container-kick button {
  width: 10vw;
  height: 7vh;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  color: #3c76a1;
  border: 1px solid #7aa7c7;
  background-color: #e1ecf4;
  margin-left: 30px;
  cursor: pointer;
}

.container-kick button:hover {
  background-color: #cee99b;
}
